html{
	height:100%;
}
body{
	min-height:100%;
	position:relative;
	background:#CCC;
}
.main{
	width:100%;
	height:590px;
	border:1px solid #000;
	text-decoration: none;
}
.top{
	width:100%;
	height:52px;
	border:1px solid #000;
}
.downMenu{
	width:100%;
	height:30px;
	font:normal normal 20px "宋体";
}
#search{
	margin-left:520px;
}
a{
	text-decoration: none;
}
#img1{
	margin-left:330px;
}
#logo{
	font:normal normal 20px "宋体";
	padding-bottom: 5px;
}
#add{
	margin-left:445px;
}
#last{
	margin-left:800px;
}
#d{
	padding-bottom:30px;
	margin-left:1690px;
}
a:link{
	font-size: 20px;
}
a:visited{
	color:darkgray;
}
a:hover{
	color:#C00;
}
a:active{
	color:#C00;
}
#img5{
	width:100%;
	height:80px; 
}
#indent{
	margin-top:100px;
	width:100%;
	height:300px;
	padding-left:300px;
	padding-top:60px;
}
table{
	text-align: center;
	border-collapse:collapse;
}
#font1{
margin-left:530px;
font:italic normal 16px "黑体";
}
#font2{
margin-left:770px;
font:normal normal 16px "黑体";
}
#tr1{
background-color:#666;
}
#tr2{
background-color:#666;
}
<!-- 页脚 -->
.footer p {
    color: #fff;
    font-size: 1em;
    line-height: 1.8em;
    vertical-align: middle;
    margin: 0.4em 0;
}
.footer p a{
    color: #fff;
    text-decoration:none;
}
.footer {
	position:absolute;
	bottom:0;
	margin-top:30px;
    padding: 1em 0;
    background:#003;
	width:100%;
	height:50px;
}
.footer-right ul {
    padding: 0;
}
.footer-right li {
    display: inline-block;
    margin: 0 1em;
}
.footer-left {
    float: left;
}
.footer-left p{
	color:#CCC;
}
.footer-right {
    float: right;
}


/* 导航栏 */
.nav{
	margin:10px;
}

.navbar-brand>img{
	padding:0 0;
	width:250px;
	margin-right:5px;
	margin-left:5px;
}

.navbar-default{
	padding:1em 0;
	background-color:#999;
	border:1px solid #999;
	opacity:0.8;
	box-shadow:12px -5px 39px -12px;
}

.navbar-default .navbar-nav>li a{
	top:10px;
	padding:0.5em 1.5em;
	text-decoration:none;
	font-weight:bold;
	font-size:1.2em;
	color:#FFF;
}

.navbar-default .navbar-nav>li a:hover,
.navbar-default .navbar-nav>li a:focus{
	background:#006;
	color:white;
	border-radius:6px;
}
.navbar-right>a{
	color:#96b66;
}
.dropdown-menu{
	background-color:#CCC;
	border:1px solid #CCC;
	opacity:0.8;
}

.navbar-default  .dropdown-menu>li a{
	color:#666;
	opacity:1;
}
.dropdown-menu>li a:hover,
.dropdown-menu>li a:focus{
	background:#006;
	color:#000;
	border-radius:6px;
}

td{
	font-weight:bold;
	font-size:1.2em;
	color:#FFF;
}